<ons-page id="transfer-allowance-from-identity">

    <ons-toolbar>
        <p>Transfer allowance from {{tokenContract.options.address}} held by {{this.identity.address}}</p>
    </ons-toolbar>

<p>
    Balance: {{balance | async}}
</p>


<div class="margin" style="height: 27px">
      <ons-input style="position: absolute; left:10px; right: 50px;" placeholder="Address" [(ngModel)]="toAddress"></ons-input>
      <ons-icon style="position: absolute; right: 11px; font-size: 31px;" icon="fa-qrcode" (click)="scan()"></ons-icon>
</div>

<label>Amount:
    <ons-input style="width: 100%;" placeholder="Amount" [(ngModel)]="toValue"></ons-input>
</label>



<br/>
<label>Key to use:
    <ons-select [(ngModel)]="managementkey" [attr.modifier]="managementkey">
        <option *ngFor="let key of managementkeys" [value]="key.address">
            {{ key.address }}
        </option>
    </ons-select>
</label>

    <div *ngIf="screenStatus == ScreenStatus.Busy" class="page_buttons">
        <ons-progress-circular indeterminate></ons-progress-circular>
    </div>

    <div *ngIf="screenStatus == ScreenStatus.Start" class="page_buttons">
        <ons-button (click)="transfer()">transfer</ons-button>
        <ons-button (click)="cancel()">Cancel</ons-button>
    </div>

</ons-page>
