<ons-page id="identity">

    <ons-toolbar>
        <p>Identity {{identity.name}}</p>
    </ons-toolbar>

    <ons-card>
        <div class="title">
            Address
        </div>
        <div class="content">
            {{identity.address}}
            <qrcode [qrdata]="identity.address" [size]="128" [level]="'M'"></qrcode>
        </div>
    </ons-card>


    <ons-card>
        <div class="title">
            Keys
        </div>
        <div class="content">
            <ons-list>
                <ons-list-item *ngFor="let key of identity.keys">{{key.address}} ({{key.purpose}})</ons-list-item>
            </ons-list>
        </div>
    </ons-card>

    <ons-card>
        <div class="title">
            Claims
        </div>
        <div class="content claimlist">
            <ons-list>
                <ons-list-item *ngFor="let claim of claims">
                    <ons-row>
                        <ons-col><strong>{{ClaimStatus[claim.status]}}</strong></ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>Issuer: </ons-col>
                        <ons-col>{{claim.issuer  | claimIssuer}}
                            <ons-icon *ngIf="(claim.validSignature | async)" icon="fa-check"></ons-icon>
                            <ons-icon *ngIf="!(claim.validSignature | async)" icon="exclamation-triangle"></ons-icon>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>Topic: </ons-col>
                        <ons-col>{{claim.topic | claimTopic}}</ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>Data: </ons-col>
                        <ons-col>{{claim.data | hexToUtf8}}</ons-col>
                    </ons-row>
                    <ons-row *ngIf="claim.status == 0 || claim.status == 3" (click)="approve()">
                        <ons-col><ons-button (click)="viewClaim(claim.id)">Approve claim</ons-button></ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </div>
    </ons-card>

    <ons-card>
        <div class="title">
            Events
        </div>
        <div class="content">
            <ons-list>
                <ons-list-item *ngFor="let event of allEvents">{{event.event}} ({{event.returnValues | eventParams}})</ons-list-item>
            </ons-list>
        </div>
    </ons-card>

    <div class="page_buttons">
        <ons-button (click)="newkey(identity.address)">New key</ons-button>
        <ons-button (click)="importkey(identity.address)">Import existing key</ons-button>
        <ons-button (click)="issueclaim(identity.address)">Issue new claim</ons-button>
        <ons-button (click)="back()">Back</ons-button>
    </div>

</ons-page>
