<ons-page id="issue-claim">

    <ons-toolbar>
        <p>Issue claim</p>
    </ons-toolbar>

    <label>Subject:
      <input [(ngModel)]="subjectAddress" placeholder="address">
    </label>

    <br/>

    <label>Claim type:
      <input [(ngModel)]="claimType" placeholder="number">
    </label>

    <br/>

    <label>Scheme:
      <input [(ngModel)]="scheme" placeholder="number">
    </label>

    <br/>

    <label>Data:
      <input [(ngModel)]="data" placeholder="">
    </label>

    <br/>

    <label>URI:
      <input [(ngModel)]="uri" placeholder="">
    </label>

    <br/>

    <label>Management key to use:
      <select [(ngModel)]="managementkey">
          <option *ngFor="let key of managementkeys">{{key.key}}</option>
      </select>
    </label>

    <div class="page_buttons">
        <ons-button (click)="issue()">Issue</ons-button>
        <ons-button (click)="cancel()">Cancel</ons-button>
    </div>

</ons-page>
