<ons-page id="scan">
  <table class="content">
    <tr class="header">
      <td class="toolbar-wrapper">
        <ons-toolbar>
          <p>Scan QR-code</p>
        </ons-toolbar>
      </td>
    </tr>
    <tr class="fill info">
      <td colspan="4">
        <p>Deze app gebruikt QR-codes om te interacteren met andere diensten en website.</p>
      </td>
    </tr>
    <tr *ngIf="showDebug" class="button-wrapper">
      <td>
        <ons-button (click)="debugLogin()">Login</ons-button>
      </td>
      <td>
        <ons-button (click)="debugAddToken()">Token</ons-button>
      </td>
      <td>
        <ons-button (click)="debugAddVoucher()">Voucher</ons-button>
      </td>
      <td>
        <ons-button (click)="debugTransaction()">Transactie</ons-button>
      </td>
    </tr>
    <tr class="button-wrapper">
      <td colspan="4">
        <ons-button (click)="scan()">Scan QR-code</ons-button>
      </td>
    </tr>
  </table>
</ons-page>
