<ons-page id="transfer-from-identity">

    <ons-toolbar>
        <p>Transfer ether from {{this.identity.address}}</p>
    </ons-toolbar>


<p>
    Balance: {{balance}} (wei)
</p>
<label>To address:
  <input [(ngModel)]="toAddress" placeholder="address">
</label>
<br/>
<label>Amount:
  <input [(ngModel)]="toValue" placeholder="amount"> (wei)
</label>
<br/>
<label>Key to use:
  <select [(ngModel)]="managementkey">
      <option *ngFor="let key of managementkeys">{{key.key}}</option>
  </select>
</label>

    <div class="page_buttons">
        <ons-button (click)="transfer()">transfer</ons-button>
        <ons-button (click)="cancel()">Cancel</ons-button>
    </div>
</ons-page>
