<ons-page id="claim">

    <ons-toolbar>
        <p>Claim {{claimId}}</p>
    </ons-toolbar>

    <ons-card>
        <div class="title">
            Details
        </div>
        <div class="content">
            <ons-row>
                <ons-col>Status: </ons-col>
                <ons-col>{{ClaimStatus[claim.status]}}</ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Issuer status: </ons-col>
                <ons-col>
                  <ons-icon *ngIf="(claim.validSignature | async)" icon="fa-check"></ons-icon>
                  <ons-icon *ngIf="!(claim.validSignature | async)" icon="exclamation-triangle"></ons-icon>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Claim ID: </ons-col>
                <ons-col>{{claim.id}}</ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Request ID: </ons-col>
                <ons-col>{{claim.requestId}}</ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Issuer: </ons-col>
                <ons-col>{{claim.issuer}}</ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Topic: </ons-col>
                <ons-col>{{claim.topic}}</ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Scheme: </ons-col>
                <ons-col>{{claim.scheme}}</ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Signature: </ons-col>
                <ons-col>{{claim.signature}}</ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Data: </ons-col>
                <ons-col>{{claim.data}}</ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Uri: </ons-col>
                <ons-col>{{claim.uri}}</ons-col>
            </ons-row>
            <ons-row *ngIf="claim.status == 0 || claim.status == 3">
                <ons-col>
                    Management key to use for approval:
                  </ons-col>
                <ons-col>
                    <ons-select [(ngModel)]="managementkey">
                        <option *ngFor="let key of managementkeys" [ngValue]="key.key">{{key.address}}</option>
                    </ons-select>
                </ons-col>
            </ons-row>
        </div>
    </ons-card>

    <div class="page_buttons">
        <ons-button  *ngIf="claim.status == 0 || claim.status == 3" (click)="approve()">Approve claim</ons-button>
        <ons-button (click)="back()">Back</ons-button>
    </div>

</ons-page>
