<ons-page>
    <div class="content">
        <ons-tabbar>
            <div class="tabbar__content"></div>
            <div class="tabbar">
                <ons-tab label="Keys" icon="ion-key" [page]="keys" active></ons-tab>
                <ons-tab label="Identities" icon="ion-person" [page]="identities"></ons-tab>
                <ons-tab label="Currencies" icon="ion-cash" [page]="currencies"></ons-tab>
                <ons-tab label="Login" icon="ion-log-in" [page]="login"></ons-tab>
                <ons-tab label="Transaction" icon="ion-checkmark" [page]="transaction"></ons-tab>
                <ons-tab label="Settings" icon="ion-settings" [page]="settings"></ons-tab>
            </div>
        </ons-tabbar>
    </div>
</ons-page>
