<ons-page id="new-identity">
  <table class="content">
    <tr class="fill">
      <td colspan="2">
        <p>Info over identiteiten</p>
      </td>
    </tr>
    <tr *ngIf="screenStatus === ScreenStatus.Start">

      <td class="label" colspan="2">
        Naam
      </td>
    </tr>
    <tr class="error-wrapper" *ngIf="!!_nameError.length">
      <td class="error" colspan="2">
        {{_nameError}}
      </td>
    </tr>
    <tr>
      <td class="input-wrapper" colspan="2" *ngIf="screenStatus === ScreenStatus.Start">
        <input [(ngModel)]="name" placeholder="Waar ga je deze identiteit bijvoorbeeld voor gebruiken?">
      </td>
    </tr>
    <app-key-selecter (useTable)="true" (keySelected)="keySelected($event)" *ngIf="screenStatus === ScreenStatus.Start"></app-key-selecter>
    <tr class="fill button-wrapper" *ngIf="screenStatus === ScreenStatus.Start">
      <td *ngIf="canCancel()">
        <ons-button (click)="cancel()">Annuleren</ons-button>
      </td>
      <td>
        <ons-button (click)="save()">Aanmaken</ons-button>
      </td>
    </tr>
    <tr *ngIf="screenStatus === ScreenStatus.Busy" class="fill page_buttons">
      <td colspan="2">
        <ons-progress-circular indeterminate></ons-progress-circular>
      </td>
    </tr>
  </table>
</ons-page>
