<ons-page id="keys">

    <ons-toolbar>
        <p>Account</p>
    </ons-toolbar>

    <ng-template #loading>
        <ons-card>
          Loading account...
        </ons-card>
    </ng-template>

    <ons-card *ngIf="account | async as syncAccount; else loading">
        <div class="title">
            Address
        </div>
        <div class="content">
            {{ syncAccount.address }}
            <qrcode [qrdata]="syncAccount.address" [size]="128" [level]="'M'"></qrcode>
        </div>
    </ons-card>

    <div class="page_buttons">
        <ons-button (click)="back()">Back</ons-button>
    </div>

</ons-page>
