<ons-page id="newidentity">

    <ons-toolbar>
        <p>New identity</p>
    </ons-toolbar>

    <label>Name:
      <input [(ngModel)]="name" placeholder="name">
    </label>

    <br/>

    <label>Management key:
      <select [(ngModel)]="managementkey">
        <option *ngFor="let key of keys" [ngValue]="key.key">{{key.address}}</option>
      </select>
    </label>

    <div class="page_buttons">
        <ons-button (click)="save()">save</ons-button>
        <ons-button (click)="cancel()">Cancel</ons-button>
    </div>

</ons-page>
