<h2>Transfer token from {{tokenContract.options.address}} held by {{this.identity.address}}</h2>
<p>
    Balance: {{balance | async}}
</p>
<label>To address:
  <input [(ngModel)]="toAddress" placeholder="address">
</label>
<br/>
<label>Amount:
  <input [(ngModel)]="toValue" placeholder="amount">
</label>
<br/>
<label>Key to use:
  <select [(ngModel)]="managementkey">
      <option *ngFor="let key of managementkeys">{{key.key}}</option>
  </select>
</label>

<br/>
<button (click)="transfer()">transfer</button>
<a routerLink="/currencies">Cancel</a>
