

.page_buttons {
    text-align: center;
}

.page_buttons ons-button {
    display: block;
    margin: 10px;
}

.margin {
    margin: 10px;
}

ons-toolbar p {
    margin: 10px;
}

ons-page ons-toolbar p {
    font-weight: bold;
}
