<h2>Identity {{identity.name}}</h2>
<p>
  Contract address: {{identity.address}}
</p>
<h3>Keys</h3>
<ul>
  <li *ngFor="let key of identity.keys">{{key.key}} ({{key.purpose}})</li>
</ul>
<h3>Records</h3>
<ul>
  <li *ngFor="let record of records">
    {{record.key}}: {{record.value | async}}
    <a routerLink="/identities/{{identity.address}}/record/{{record.key}}">edit</a>
    <a routerLink="/identities/{{identity.address}}/record/{{record.key}}/delete">delete</a>
  </li>
</ul>
<a routerLink="/identities/{{identity.address}}/record">Add record</a>
<!--
<h3>Events</h3>
<ul>
  <li *ngFor="let event of allEvents">{{event.event}} ({{event.returnValues | eventParams}})</li>
</ul>
<a routerLink="/identities/{{identity.address}}/newkey">New key</a>
<a routerLink="/identities/{{identity.address}}/issueclaim">Issue new claim</a>
-->
