<ons-page id="currencies">

    <ons-toolbar>
        <p>Currencies</p>
    </ons-toolbar>

    <ons-card>
        <div class="title">
            Ether
        </div>
        <div class="content">
            <ons-list>
                <ons-list-item *ngFor="let ethBalance of ethBalances">
                    <div>
                        {{ethBalance.address}} ({{BalanceType[ethBalance.type]}})<br/>
                        balance: {{ethBalance.balance | async | fromWei:'ether'}}<br/>
                        <ons-button *ngIf="ethBalance.type == BalanceType.Key" (click)="transferFromKey(ethBalance.address)">transfer</ons-button>
                        <ons-button *ngIf="ethBalance.type == BalanceType.Identity" (click)="transferFromIdentity(ethBalance.address)">transfer</ons-button>
                    </div>
                </ons-list-item>
            </ons-list>
        </div>
    </ons-card>

    <ons-card *ngFor="let token of tokens">
        <div class="title">
            {{token.name | async}}
            <br/>
            <small>{{token.address}}</small>
        </div>
        <div class="content">
            <ons-list>
                <ons-list-header>Balances</ons-list-header>
                <ons-list-item *ngFor="let balance of token.balances">
                    <div>
                        {{balance.address}} ({{BalanceType[balance.type]}})<br/>
                        balance: {{balance.balance | async}}<br/>
                        <ons-button *ngIf="balance.type == BalanceType.Key" (click)="transferTokenFromKey(balance.address, token.address)">transfer</ons-button>
                        <ons-button *ngIf="balance.type == BalanceType.Identity" (click)="transferTokenFromIdentity(balance.address, token.address)">transfer</ons-button>
                        <ons-button *ngIf="balance.type == BalanceType.IdentityAllowance" (click)="transferAllowanceFromIdentity(balance.address, balance.spender, token.address)">transfer</ons-button>
                    </div>
                </ons-list-item>
            </ons-list>
        </div>
    </ons-card>

    <div class="page_buttons">
        <ons-button (click)="addToken()">Add token</ons-button>
    </div>

</ons-page>
